<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">

    <mapping>
        <class-a>ru.kubsu.mms.core.db.models.User</class-a>
        <class-b>ru.kubsu.mms.web.dto.UserDto</class-b>
        <field custom-converter="ru.kubsu.mms.web.converters.DateToStringConverter">
            <a>birthDate</a>
            <b>birthDate</b>
        </field>
    </mapping>

    <mapping>
        <class-a>ru.kubsu.mms.core.db.models.User</class-a>
        <class-b>ru.kubsu.mms.web.dto.RegistrationUserDto</class-b>
        <field custom-converter="ru.kubsu.mms.web.converters.DateToStringConverter">
            <a>birthDate</a>
            <b>birthDate</b>
        </field>
    </mapping>

    <mapping>
        <class-a>ru.kubsu.mms.core.db.models.User</class-a>
        <class-b>ru.kubsu.mms.web.dto.IdNameDto</class-b>
    </mapping>

    <mapping>
        <class-a>ru.kubsu.mms.core.db.models.ControlOrganisation</class-a>
        <class-b>ru.kubsu.mms.web.dto.IdNameDto</class-b>
    </mapping>

    <mapping>
        <class-a>ru.kubsu.mms.core.db.models.ControlOrganisation</class-a>
        <class-b>ru.kubsu.mms.web.dto.OrganisationDTO</class-b>
    </mapping>

    <mapping>
        <class-a>ru.kubsu.mms.core.db.models.Equipment</class-a>
        <class-b>ru.kubsu.mms.web.dto.IdNameDto</class-b>
        <field>
            <a>model</a>
            <b>name</b>
        </field>
    </mapping>

    <mapping>
        <class-a>ru.kubsu.mms.core.db.models.Vender</class-a>
        <class-b>ru.kubsu.mms.web.dto.IdNameDto</class-b>
    </mapping>

    <mapping>
        <class-a>ru.kubsu.mms.core.db.models.Location</class-a>
        <class-b>ru.kubsu.mms.web.dto.IdNameDto</class-b>
    </mapping>

    <mapping>
        <class-a>ru.kubsu.mms.core.db.models.Equipment</class-a>
        <class-b>ru.kubsu.mms.web.dto.EquipmentDTO</class-b>
        <field custom-converter="ru.kubsu.mms.web.converters.DateToStringConverter">
            <a>startUpDate</a>
            <b>startUpDate</b>
        </field>
    </mapping>

    <mapping>
        <class-a>ru.kubsu.mms.core.db.models.TechControl</class-a>
        <class-b>ru.kubsu.mms.web.dto.TechControlDTO</class-b>
        <field custom-converter="ru.kubsu.mms.web.converters.DateToStringConverter">
            <a>lastSupportDate</a>
            <b>lastSupportDate</b>
        </field>
        <field>
            <a>status.systemName</a>
            <b>systemStatus</b>
        </field>
    </mapping>

    <mapping>
        <class-a>ru.kubsu.mms.core.db.models.MetroControl</class-a>
        <class-b>ru.kubsu.mms.web.dto.MetroControlDTO</class-b>
        <field custom-converter="ru.kubsu.mms.web.converters.DateToStringConverter">
            <a>lastSupportDate</a>
            <b>lastSupportDate</b>
        </field>
        <field>
            <a>status.systemName</a>
            <b>systemStatus</b>
        </field>
    </mapping>
    
    <mapping>
        <class-a>ru.kubsu.mms.core.db.models.MetroCheckout</class-a>
        <class-b>ru.kubsu.mms.web.dto.MetroCheckoutDTO</class-b>
        <field>
            <a date-format="dd.MM.yyyy">checkoutDate</a>
            <b>checkoutDate</b>
        </field>
    </mapping>

    <mapping>
        <class-a>ru.kubsu.mms.core.db.models.TechCheckout</class-a>
        <class-b>ru.kubsu.mms.web.dto.TechCheckoutDTO</class-b>
        <field>
            <a date-format="dd.MM.yyyy">checkoutDate</a>
            <b>checkoutDate</b>
        </field>
    </mapping>

    <mapping>
        <class-a>ru.kubsu.mms.core.db.models.TechControl</class-a>
        <class-b>ru.kubsu.mms.web.dto.TechControlExtendedDTO</class-b>
        <field>
            <a>techCheckouts</a>
            <b>checkouts</b>
        </field>
    </mapping>

    <mapping>
        <class-a>ru.kubsu.mms.core.db.models.MetroControl</class-a>
        <class-b>ru.kubsu.mms.web.dto.MetroControlExtendedDTO</class-b>
        <field>
            <a>metroCheckouts</a>
            <b>checkouts</b>
        </field>
    </mapping>

    <mapping>
        <class-a>ru.kubsu.mms.core.db.models.File</class-a>
        <class-b>ru.kubsu.mms.web.dto.IdNameDto</class-b>
    </mapping>
</mappings>